@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter" , sans-serif;
}
.main_header{
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 12px 20px;
   position: sticky;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f5f5;
}
main{
    flex-grow: 1;
}

#burger_menu {
  display: none;
}
.burger_menu{
  display: block;
  padding: 12px 10px;
  border-radius: 50%;
  background-color: #fff;
}


label[for="burger_menu"] span {
  display: block;
  height: 3px;
  width: 30px;
  background-color: #000;
  border-radius: 2px;
  margin-bottom: 4px;
}



.main_header .personIcon  {
  width: 20px;
  height: auto;
}
nav > ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}
a{
  text-decoration: none;
  color: inherit;
}